h1 {
    text-align: center;
    color: maroon;
    background-color: antiquewhite;
}
.salesInfo {
    text-align: center;
}
main {
    color:  maroon;
    text-align: center;
}
img {
    float: right;
}
.text {
    float: left;
    background-color: antiquewhite;
}